@model IEnumerable<MovieShopApp3.Models.Products>

<p>
    @if (Roles.IsUserInRole("Admin"))
    {
        @Html.ActionLink("Add new product", "Create")
    }

</p>

<table id="ajaxTable" class="table" style="margin:0 auto;">


    @foreach (var item in Model)
    {
        <tr>
            <td>

                <img src="@item.imgUrl" title="Title: @item.ProductName&#10;Description:&#10;@item.MovieDescription&#10;Rating: @item.Rating&#10;Price: @item.Price&euro;" style="height :120px; width :100px ;" />

            </td>


            <td>
                @Html.DisplayFor(modelItem => item.ProductName)<br />
                @Html.DisplayFor(modelItem => item.Rating)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price) &euro;
            </td>
            <td>
                @if (item.NrInStore > 0)
                {
                    <img src="~/Content/graphics/greenButton.png" style="height:20px; width:20px" />
                }
                else
                {
                    <img src="~/Content/graphics/redButton.png" style="height:20px; width:20px" alt="" />
                }

            </td>


            <td style="text-align:right">
                @if (Roles.IsUserInRole("Admin"))
    {
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID })
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            @Html.ActionLink("Buy", "Purchase", new { id = item.ProductID })
            @Html.ActionLink("Details", "Details", new { id = item.ProductID })
}
else
{
            @*<button type="button" class="btn btn-success">Add to basket</button>
            <a href='@Url.Action("Purchase", "Products", new {id =  item.ProductID})'>
                <img src='' class="purchaseButton" />
            </a>*@
            @Html.ActionLink("Add to basket ", "Purchase", new { id = item.ProductID }, new { @Class ="btn btn-success" })@:&nbsp;
            @*<img src = "/Content/graphics/addToChart1.png" />*@

            @*@Html.ActionLink("Buy", "Purchase", new { id = item.ProductID })*@

            @*@Ajax.ActionLink("Buy", "Purchase", new { id = item.ProductID }, new AjaxOptions
    {
        HttpMethod = "post",
        //UpdateTargetId = "divtest",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "OnSuccessMethod"

    })*@
            @Html.ActionLink("Details", "Details", new { id = item.ProductID }, new { @Class = "btn btn-info" })
}
            </td>
        </tr>
    }

</table>
