@model MovieShopApp3.Models.ProdCat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProdCat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProdCatID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
